<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
            <div class="main-head">
                <h1>WELCOME TO YOUR TODO </h1>
                <button class="btn">
                    <a href="todo.ejs">
                    Enter
                </a>
                </button>
                
            </div>

         
    </body>
</html>